@font-face {
  font-family: Didact;
  src: url(./assets/fonts/DidactGothic-Regular.ttf);
}

@font-face {
  font-family: Fjalla;
  src: url(./assets/fonts/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: WorkSans;
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

:root {
  --color-text-black: #000;
  --color-text-white: #fff;
  --color-text-grey: #9e9e9e;
  --color-text-darkgray: #666;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
