@font-face {
  font-family: Didact;
  src: url(./assets/fonts/DidactGothic-Regular.ttf);
}

@font-face {
  font-family: Fjalla;
  src: url(./assets/fonts/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: WorkSans;
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

:root {
  --color-text-black: #000;
  --color-text-white: #fff;
  --color-text-grey: #9e9e9e;
  --color-text-darkgray: #666;
}

/* ! Basic Settings */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: Didact;
}

h2 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

p {
  font-family: WorkSans;
  font-size: 1.25rem;
}

img {
  max-width: 100%;
}

/* ! Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header p:nth-of-type(1) {
  margin: 1.25rem 0 3.75rem 0;
}

h1 {
  font-size: 6.25rem;
  width: 500px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 3.75rem;
}

header img {
  margin-bottom: 7.5rem;
}

header p:nth-of-type(2) {
  font-size: 10rem;
  margin-bottom: 9.375rem;
}

/* ! Basic Section Settings */

section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dark {
  padding-top: 9.375rem;
  padding-bottom: 6.25rem;
  color: var(--color-text-white);
}

.light {
  padding-top: 15.625rem;
  padding-bottom: 14.375rem;
  color: var(--color-text-black);
}

.content-container {
  margin-left: 15vw;
}

.line-dark,
.line-white {
  width: 15px;
  height: 1px;
}

.line-white {
  border: 0.5px solid var(--color-text-white);
}

.line-dark {
  border: 0.5px solid var(--color-text-black);
}

.year-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.year-container p {
  font-weight: 200;
  margin-left: 0.4rem;
}

.types-of-websites {
  margin-bottom: 5rem;
  font-weight: 200;
}

.side-number {
  color: var(--color-text-grey);
  opacity: 0.5;
  font-size: 10.3125rem;
  font-family: Fjalla;
  text-align: right;
  margin-right: 8vw;
}

.dive-in-dark,
.dive-in-light {
  all: unset;
  font-family: Fjalla;
  padding: 1rem 1.625rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;
}

.dive-in-dark {
  border: 1px solid var(--color-text-white);
}

.dive-in-dark:hover {
  background-color: var(--color-text-white);
  color: var(--color-text-black);
}

.dive-in-light {
  border: 1px solid var(--color-text-black);
}

.dive-in-light:hover {
  background-color: var(--color-text-black);
  color: var(--color-text-white);
}

.side-number-hover {
  color: var(--color-text-white);
  opacity: 1;
}

/* ! Orbis Section */

.orbis {
  background-image: url(./assets/images/portfolio2.jpg);
}

/* ! Rollr Section */

.rollr {
  background-image: url(./assets/images/portfolio3.png);
}

/* ! Galitos Section */

.galitos {
  background-image: url(./assets/images/portfolio4.jpg);
}

/* ! Tretto Section */

.tretto {
  background-image: url(./assets/images/portfolio5.png);
}

/* ! More Section */

.more {
  background-color: var(--color-text-black);
  color: var(--color-text-white);
  display: flex;
  flex-direction: column;
  padding-top: 8.125rem;
  padding-bottom: 6.25rem;
}

.more h2 {
  text-transform: lowercase;
  font-size: 11.25rem;
  align-self: center;
  margin-bottom: 9.375rem;
}

.more h2::first-letter {
  text-transform: uppercase;
}

.more div {
  margin-left: 45vw;
  margin-right: 8vw;
}

.more p {
  color: var(--color-text-grey);
  font-size: 1.375rem;
  font-weight: 200;
  line-height: 1.8;
  margin-bottom: 4.375rem;
}

.more a {
  all: unset;
  cursor: pointer;
  font-size: 3.75rem;
}
